services:
  - type: web
    name: tlfmrw-front
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: ./tlfmrw-front
    plan: free
    envVars:
      - key: PORT
        value: 10000
      - key: REDIS_URL
        fromService:
          type: redis
          name: redis
          property: connectionString
    
  - type: redis
    name: redis
    plan: free
    maxmemoryPolicy: allkeys-lru