.scrollview {
    padding: 40;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: auto;
    gap: 40px;
    background-color: #7777773b;
}

.centered_container {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}



.cover {
    width: 100%;

    aspect-ratio: 3/4;              
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(142, 22, 22, 0.413);
}

.master_container {
    width: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 7% 93%;
    width: 100%;
    height: 100vh;
}
