.loginpage body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #000000;
  font-family: Arial, sans-serif;
}

.loginpage h1 {
  background-color: #000000;
  color: white;
  text-align: center;
}

.loginpage img {
  width: 25%;
  height: auto;
}

.loginpage label {
  color: white;
}