body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #000000;
  font-family: Arial, sans-serif;
}

h1 {
  background-color: #000000;
  color: white;
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  color: white;
}

span{
  font-family: 'Share Tech Mono', monospace;
  font-size: 45;
  padding-bottom: 75;
  text-shadow: 0 0 2px #deb4b4;
}

input{
  text-align: center;
}

a {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.2em;
  border-style: ridge;
  border-color: #821f1f;
  color: #ffffff;
  border-width: 2px;
  border-radius: 35;
  padding: 7;
  padding-left: 20;
  padding-right: 20;
  box-shadow: 0 0 10px #421b1b;
  background-color: #150e0e;
}

.futuristic-input {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #150e0e;
  padding: 5px;
  width: 300px;
  overflow: hidden;
  border-top-left-radius: 20;
  border-bottom-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-Right-radius: 20;
  white-space: nowrap;
  position: relative;
  box-shadow: 0 0 10px #421b1b;
}


.futuristic-input::before {
  content: attr(placeholder);
  position: absolute;
  top: 0;
  left: 10px;
  width: 0;
  overflow: hidden;
  color: #e4a827;
  animation: typing 3s steps(40, end) forwards;
}

.input-wrapper {
  position: relative;
  width: 300px; 
  border-top-left-radius: 20;
  border-bottom-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-Right-radius: 20;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-top-left-radius: 20;
  border-bottom-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-Right-radius: 20;
  background: linear-gradient(90deg, rgb(142, 22, 22), rgb(39, 39, 39), rgb(142, 22, 22), rgb(39, 39, 39), rgb(142, 22, 22));
  background-size: 200% 200%;
  z-index: 0;
  pointer-events: none;
  animation: borderGlow 3s linear infinite;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 2px; /* thickness of glow */
  filter: blur(5px);
}

@keyframes borderGlow {
   0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}

.futuristic-input::after {
  content: '|';
  position: absolute;
  top: 0;
  left: 10px;
  color: #e4a827;
  animation: typing 3s steps(40, end) forwards, blink 0.7s step-end infinite;
  border-top-left-radius: 20;
  border-bottom-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-Right-radius: 20;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { opacity: 0; }
  50% { opacity: 1; }
}
